
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;

}

ul,nav {
	list-style: none;
}

a{
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}
/* mouse over link */
a:hover {
  color: #F3FFB6;
}

/* selected link */
a:active {
  color: #8DFFCD;
}

/*bahagian navigation atas*/
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #000;
	padding: 35px 100px 0;

}

header h2 {
	color: #B2FFA8;
	text-transform: uppercase;

}

header nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}

header nav li {
	color: #B2FFA8;
	margin: 0 15px;
}

header nav li:first-child {
	margin-left: 0;

}

header nav li:last-child {
	margin-right: 0;
	
}

/* untuk paparan skrin berlainan*/

@media(max-width: 1000px) {
	header {
		padding: 20px 50;
	}
}
@media (max-width:700px) {
	header {
		flex-direction: column;
	}
	header h2 {
		margin-bottom: 15px;
	}
	header nav li {
		margin: 0 7px;
	}
}

/*section pertama*/
section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 110px 100px;
}

@media (max-width: 1000px) {
	section{
		padding: 100px 50px;
	}
}
@media (max-width: 600px) {
	section{
		padding: 125px 30px;
	}
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20 px;
	line-height: 2;
}
.banner-area {
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}
/*background image section pertama*/
.banner-area .banner-img{
	background-image: url(img/rumahhutan.jpg);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: -1;
	overflow: hidden;
}
.banner-area .banner-img:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .2;

/*tempat title homestay haruka*/
}
.banner-area h1 {
	position: relative;
	margin-bottom: 15px;
	font-size: 70px;
	color: white;
	font-family: 'Merienda', cursive;
	-webkit-text-stroke:2px #55a630;
}
/*title animation*/
.banner-area h1:before {
	color: #55a630;
	white-space: nowrap;
	content: attr(data-text);
	position: absolute;
	left: 0;
	width: 0;
	transition: 1s;
	overflow: hidden;
}
.banner-area h1:hover:before {
	width: 100%;

}

.banner-area h3 {
	color: #b9e769;
	margin-bottom: 40px;
	font-size: 30px;
}

/*bahagian wave*/

.banner-area .wave {
	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	height: 100px;
  	background: url(img/wave.png);
  	background-size: 1000px 100px;

}

.banner-area .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;

}
.banner-area .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;

}
.banner-area .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;

}

.banner-area .wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;

}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}


@media (max-width: 800px) {
	.banner-area {
		min-height: 600px;
	}
	.banner-area h1 {
		font-size: 30px;
	}
	.banner-area h3 {
		font-size: 20px;
	}
}

/*bahagian about area*/

ul.about-content {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.about-content li {
	padding: 20px;
	height: 290px;
	background-clip: content-box;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.about-left {
	flex-basis: 40%;
	background-image: url(img/rumahbanyak.jpg);
	background-position: center;

}
.about-right {
	flex-basis: 60%;
}

.about-area p {
	max-width: 800px;
	margin-bottom: 35px;
	line-height: 1.5;
	text-align: left;
	padding-left: 0;
}

.section-title {
	color: #B2FFA8;
	text-shadow: 1px 1px 1px black;
	text-transform: uppercase;
	font-size: 50px;
	margin-bottom: 5%;
}

.about-right h2 {
	margin-bottom: 3%;
}

@media (max-width: 1000px) {
	.about-left,
	.about-right {
		flex-basis: 100%;
	}
	.about-content li {
		padding: 8px;
	}
}

/*Bahagian servis*/


ul.services-content {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.services-content li {
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}
.services-content li i {
	font-size: 50px;
	color: #11998e;
	margin-bottom: 25px;
}
.services-content li h4 {
	font-size: 20px;
	margin-bottom: 25px;
}
.services-content li p {
	margin: 0;

}

@media (max-width: 1000px) {
	.services-content li {
		flex-basis: 100%;
		margin-bottom: 65px;
	}
	.services-content li:last-child {
		margin-bottom: 0;
	}
	.services-content li p {
		padding: 0;
	}
}


footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #000;
	padding: 60px 0;
}
